.profile__avatar-button {
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: 0.1s;
  cursor: pointer;
  height: 120px;
  width: 120px;
}

.profile__avatar-button:hover {
  background-image: url(../../../images/avpen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 26px;
}
