.popup__save {
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  border-color: #000000;
  color: #ffffff;
  font: inherit;
  cursor: pointer;
  margin-top: 48px;
}

.popup__save:hover {
  opacity: 0.8;
}

@media (max-width: 619px) {
  .popup__save {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 40px;
  }
}
