.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/popupclose.svg);
  background-size: contain;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 619px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
