.profile__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media (max-width: 979px) {
  .profile__title {
    margin: 0 auto;
  }
}

@media (max-width: 619px) {
  .profile__title {
    max-width: 282px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-left: 45px;
    margin-top: 5px;
  }
}
