.profile__add-button {
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 50px;
  margin-left: auto;
  align-self: center;
  background-image: url(../../../images/cross.png);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 979px) {
  .profile__add-button {
    min-width: 282px;
    margin: 36px auto;
  }
}

@media (max-width: 619px) {
  .profile__add-button {
    min-width: 282px;
    margin: 36px auto 0 auto;
  }
}
