.elements {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media (max-width: 979px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 619px) {
  .elements {
    grid-template-columns: 1fr;
    margin-top: 36px;
  }
}
