.profile__avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  height: 120px;
  width: 120px;
}

.profile__avatar:hover {
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}
