.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    color: #545454;
}

@media (max-width: 619px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
    }
}
